<div class="main-container">
  <h2>My Skills</h2>
  <div class="skills-icons">
    <div>
      <img src="assets/img/type-script.svg" alt="TypeScript" />
      <h6>Angular</h6>
    </div>
    <div>
      <img src="assets/img/java-script.svg" alt="JavaScript" />
      <h6>TypeScript</h6>
    </div>
    <div>
      <img src="assets/img/HTML.svg" alt="HTML" />
      <h6>JavaScript</h6>
    </div>
    <div>
      <img src="assets/img/CSS.svg" alt="CSS" />
      <h6>HTML</h6>
    </div>
    <div>
      <img src="assets/img/rest-api.svg" alt="REST API" />
      <h6>CSS</h6>
    </div>
    <div>
      <img src="assets/img/GIT.svg" alt="GIT" />
      <h6>GIT</h6>
    </div>
    <div>
      <img src="assets/img/firebase.svg" alt="Firebase" />
      <h6>Firebase</h6>
    </div>
    <div>
      <img src="assets/img/scrum.svg" alt="Scrum" />
      <h6>Scrum</h6>
    </div>
    <div>
      <img src="assets/img/material-design.svg" alt="Material Design" />
      <h6>
        Material <br />
        design
      </h6>
    </div>
    <div class="challenge-container">
      <img src="assets/img/challenge-me.svg" alt="Challenge me" />
      <h6>
        Challenge <br />
        me
      </h6>
      <p>
        I am always happy to learn new technologies, just tell me what you need.
      </p>
    </div>
  </div>

  <div class="mobile-challenge-me show margin-L margin-R">
    <img src="assets/img/arrow-mobile.svg" alt="" />
    <p>
      I am always happy to learn new technologies, just tell me what you need.
    </p>
    <div><a href="#contact">Let’s talk</a></div>
  </div>
</div>
