@import "../../../mixin.scss";
@import "../../../styles.scss";

:host {
  @include flex-center();
  width: 100%;
  height: 100%;
  margin-bottom: 10rem;
  box-sizing: border-box;
}

.main-container {
  @include flex-center($fd: column);
  width: 100%;
  max-width: $max-width;

  h2 {
    @include fonts($fw: $bold);
    width: 100%;
    text-align: left;
    margin-bottom: 3.125rem;
    scroll-margin-top: 6.25rem;
  }
}

.skills-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  width: 100%;
  justify-items: center;
  gap: 3rem;

  > div {
    @include flex-center($fd: column);
    width: 6.75rem;

    img {
      width: 3.75rem;
      margin-bottom: 1rem;
    }

    h6 {
      @include fonts($fw: $bold, $fc: $turquoise, $fs: $f-s-18);
      text-align: center;
    }
  }

  .challenge-container {
    display: flex;
    align-items: center;
    position: relative;

    p {
      @include fonts($fw: $bold, $fc: $turquoise, $fs: $f-s-18);
      position: absolute;
      left: 123%;
      text-align: left;
      width: 17.25rem;
    
      opacity: 0;
      visibility: hidden;
      transition: opacity 125ms ease-out, visibility 0s linear 125ms;
    }
    
    &:hover p {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }
  }
}
.mobile-challenge-me {
  @include flex-center($fd: column);
  display: none;
  img {
    margin: 20px 0px;
  }
  p {
    text-align: center;
    @include fonts($fw: $bold, $fc: $turquoise, $fs: $f-s-18);
  }

  a {
    @include fonts($fs: $f-s-18, $fc: $backround-blue);
    display: inline-block;
    padding: 0.9375rem 1.875rem;
    background-color: $turquoise;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .main-container{
    width: 91%;
  }
  h1 {
    white-space: normal !important;
    text-align: center !important;
  }
  h2 {
    white-space: normal !important;
    text-align: center !important;
  }

  h6{
    display: none !important;
  }
  .mobile-challenge-me p {
    width: 91%;
    margin: 0 auto;
  }
}

