@import "../../../mixin.scss";
@import "../../../styles.scss";

* {
  transition: all 125ms ease-out;
}
:host {
  @include flex-center();

}

.project-container {
  @include flex-center($jc: space-between, $ai: flex-start);
  gap: $gap-24;
  width: auto;
  height: auto;
  max-width: $max-width;
}

.image-container {
  width: auto; 
  height: auto; 
  width: 36.75rem;
}

.image-container img {
  display: block;
  width: 100%; 
  height: auto; 
}

.text-container {
  width: 50%; 
}



h3 {
  @include fonts($fc:$turquoise,$fw:$bold,$fs:$f-s-48);
  margin-bottom:$gap-32 ;
}

h5{
  @include fonts($fc:$turquoise,$fs:$f-s-18);
  margin-bottom:$gap-32 ;
}

.links {
  @include flex-center($jc: flex-start); 

  a {
    @include fonts($fc:$turquoise,$fs:$f-s-18);
    padding: 0.9375rem 1.875rem;
  }

  a:first-child {
    color: $primary-red;
    border: solid 1px $turquoise;

    &:hover{
      color:$turquoise ; 
    }
  }

  a:nth-child(2) {
    margin-left: $gap-10;
   background-color:$turquoise ;
   color:$backround-blue ;
   &:hover{
    color:$primary-red ; 
  }
    
  }
}