<ng-container *ngFor="let project of displayedProjects">
  <div
    class="project-container"
    [class.force-left]="project.title === 'El Pollo Loco' || project.title === 'Pokedex'"
  >
    <div class="image-container fade-in-left" appScrollAnimation>
      <a class="video" [href]="project.liveTestLink" target="_blank">
        <ng-container *ngIf="!isSmallScreen && !isVideoFallback(project.videoUrl); else desktopPoster">
          <video
            #hoveredVideo
            muted
            preload="metadata"
            [attr.poster]="project.posterUrl"
            (mouseenter)="playVideo(hoveredVideo)"
            (mouseleave)="resetVideo(hoveredVideo)"
            (error)="setVideoFallback(project.videoUrl)"
            (loadeddata)="setVideoLoaded(project.videoUrl)"
          >
            <source [src]="project.videoUrl" type="video/webm" />
            Your browser does not support the video tag.
          </video>
          <img
            class="video-poster-overlay"
            [class.is-loaded]="isVideoLoaded(project.videoUrl)"
            [src]="project.posterUrl"
            [attr.alt]="project.title + ' preview'"
          />
        </ng-container>
        <ng-template #desktopPoster>
          <img
            class="video-poster-fallback"
            [src]="project.posterUrl"
            [attr.alt]="project.title + ' preview'"
          />
        </ng-template>
      </a>
    </div>
    <div class="text-container-project fade-in-right" appScrollAnimation>
      <h3>{{ project.title }}</h3>
      <h5 class="technologies">
        {{ project.technologies.join(" | ") }}
      </h5>
      <h5 class="description">
        {{ project.description }}
      </h5>
      <div class="image-container fade-in-left" appScrollAnimation>
        <a class="mobile-video" [href]="project.liveTestLink" target="_blank">
          <ng-container *ngIf="!isSmallScreen && !isVideoFallback(project.videoUrl); else mobilePoster">
            <video
              #mobileVideo
              muted
              preload="metadata"
              [attr.poster]="project.posterUrl"
              (mouseenter)="playVideo(mobileVideo)"
              (mouseleave)="resetVideo(mobileVideo)"
              (error)="setVideoFallback(project.videoUrl)"
              (loadeddata)="setVideoLoaded(project.videoUrl)"
            >
              <source [src]="project.videoUrl" type="video/webm" />
              Your browser does not support the video tag.
            </video>
            <img
              class="video-poster-overlay"
              [class.is-loaded]="isVideoLoaded(project.videoUrl)"
              [src]="project.posterUrl"
              [attr.alt]="project.title + ' preview'"
            />
          </ng-container>
          <ng-template #mobilePoster>
            <img
              class="video-poster-fallback"
              [src]="project.posterUrl"
              [attr.alt]="project.title + ' preview'"
            />
          </ng-template>
        </a>
      </div>
      <div class="links">
        <a [href]="project.githubLink" target="_blank">GitHub</a>
        <a [href]="project.liveTestLink" target="_blank">Live Test</a>
      </div>
    </div>
  </div>
</ng-container>
