@import "../../../mixin.scss";
@import "../../../styles.scss";

:host {
  @include flex-center($fd: column);
  margin-bottom: 10rem;
  box-sizing: border-box;
}

.main-container {
  @include flex-center($fd: column, $ai: stretch);
  max-width: $max-width;
  width: 100%;
  overflow-x: hidden;



  > div {
    @include flex-center($jc: flex-start, $ai: stretch);
    width: 100%;

    > div:first-child {
      @include flex-center();
    }
  }

  img {
    width: 5.375rem;
  }

 
  .arrow-icon {
    display: inline-block;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 125ms ease-out, opacity 125ms ease-out;
  }


  &.in-view .arrow-icon {
    transform: translateX(0);
    opacity: 1;
  }
}

.text-container-main {
  @include flex-center($jc: flex-start, $ai: stretch);
  gap: $gap-24;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  margin: 0 auto;
}

.text-container-main > div {
  flex: 1 1 22rem;
  min-width: 0;
}

.text-container-testimonials {
  padding: 0 1.875rem;
  flex: 1 1 22rem;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

h4 {
  @include fonts($fw: $bold, $fs: $f-s-24);
  padding: 1.5rem 0;
}

h5 {
  @include fonts($fs: $f-s-18, $fc: $turquoise);
  margin-bottom: $gap-32;
}

p {
  @include fonts($fs: $f-s-18, $fc: $turquoise);
  max-width: 400px;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  h1,
  h2 {
    white-space: normal !important;
    text-align: center !important;
  }

  h4 {
    width: 90% !important;
    text-align: center !important;
    white-space: normal !important;
    margin: 0 auto;
  }

  .text-container-main {
    padding: 0 1rem;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 1rem;
    padding-bottom: 0.75rem;
  }

  .text-container-main > div,
  .text-container-testimonials {
    flex: 0 0 auto;
    min-width: 85%;
    scroll-snap-align: start;
  }
}
