@import "../../../mixin.scss";
@import "../../../styles.scss";
*{
  transition: all 125ms ease-out;
}

:host {
  @include flex-center($fd:column);
  margin-bottom: 1.5rem;

}

.main-container {
  @include flex-center($fd: column, $ai: stretch);
  max-width: $max-width;
  width: 100%;

  > div {
    @include flex-center($jc:flex-start, $ai:stretch);
    width: 100%;
  
 
    > div:first-child {
      @include flex-center();
    }
  }
  img {
    width: 5.375rem;
  }
}

.text-container-testimonials{
  padding: 0px 0.875rem;
}

h4 {
  @include fonts($fw:$bold,$fs:$f-s-24);
  white-space: nowrap;
  margin-bottom: 1.5rem;
}
h5 {
  @include fonts($fs:$f-s-18,$fc:$turquoise);
  margin-bottom: $gap-32;
}

p {
  @include fonts($fs:$f-s-18,$fc:$turquoise);
  max-width: 400px;
}
@media (max-width: 768px) {

  h1 {
    white-space: normal !important;
    text-align: center !important;
  }
  h2 {
    white-space: normal !important;
    text-align: center !important;
  }
}