@import "../../../mixin.scss";
@import "../../../styles.scss";

:host {
  @include flex-center($fd:column);

}

.main-container {
  @include flex-center($fd: column, $ai: stretch);
  max-width: $max-width;

  > div {
    @include flex-center($jc: space-between, $ai:stretch);
    width: 100%;
  
 
    > div:first-child {
      @include flex-center();
    }
  }
  img {
    width: $img-w-82;
  }
}

.text-container {
  padding: 0px 0.875rem;
}

h4 {
  @include fonts($fw:$bold,$fs:$f-s-24);
  white-space: nowrap;
}
h5 {
  @include fonts($fs:$f-s-18,$fc:$turquoise);
  margin-bottom: $gap-32;
}

p {
  @include fonts($fs:$f-s-18,$fc:$turquoise);
}
