<!-- testimonials.component.html -->
<div class="main-container" *ngIf="safe.header">
  <h4 [innerHTML]="safe.header"></h4>
  <div class="text-container-main">
    <div>
      <img src="assets/img/arrow-curve-left-big.svg" alt="" />
      <div class="text-container-testimonials">
        <h4>{{ content.name1 }}</h4>
        <h5>{{ content.project1 }}</h5>
        <p [innerHTML]="safe.content1"></p>
      </div>
    </div>
    <div class="text-container-testimonials">
      <h4>{{ content.name2 }}</h4>
      <h5>{{ content.project2 }}</h5>
      <p [innerHTML]="safe.content2"></p>
    </div>
    <div class="text-container-testimonials">
      <h4>{{ content.name3 }}</h4>
      <h5>{{ content.project3 }}</h5>
      <p [innerHTML]="safe.content3"></p>
    </div>
  </div>
</div>
