@import "../../mixin.scss";
@import "../../styles.scss";



:host {
    @include flex-center($jc:space-between);
    width: 100%;
    height: 100vh;
  }


  .about-right{
    max-width: 729px;
    @include flex-center($fd:column ,$ai:flex-end);
    >div{
        @include flex-center($fd:column,$ai:flex-end)
    }
  }