<div class="main-container">
  <div class="abot-left">
    <img src="assets/img/Felix-ai.png" alt="" />
  </div>
  <div class="about-right">
    <div>
      <h2>Why me</h2>
      <p>
        Write some information about yourself that is IT related. Why are you
        passionate about coding? Highlight your motivation for professional
        growth and continuous learning. Emphasise your strong problem-solving
        skills and passion for coding.
      </p>
    </div>
    <div>
      <div>
        <h3>I am</h3>
        <div>
          <img src="assets/img/locaishen-sign .svg" alt="" />
          <div class="elipse"></div>
        
        </div>

        <p>
          located <br />
          Stuttgart
        </p>
      </div>
      <div>
        <img src="assets/img/arrow-curve-left .svg" alt="" />
        <img src="assets/img/suitcase .svg" alt="" />
        <p>
          open to <br />
          relocate
        </p>
      </div>
      <div>
        <div class="laptop">
          <img src="assets/img/remote-signal.svg" alt="" />
          <img
            class="signal"
            src="assets/img/remote-signal-strong.svg"
            alt=""
          />
        </div>
        <p>
          open to <br />
          work remote
        </p>
        <img src="assets/img/arrow-curve-right.svg" alt="" /><img
          src=""
          alt=""
        />
        <img class="arrow-curly" src="assets/img/arrow-curly.svg" alt="" /><img
          src=""
          alt=""
        />
      </div>
    </div>
    <div><button>Let’s talk</button></div>
  </div>
</div>
