<div class="abot-left">
  <img src="assets/img/Felix-ai.png" alt="">
</div>
<div class="about-right">
  <div>
    <h2>Why me</h2>
    <p>
      Write some information about yourself that is IT related. Why are you
      passionate about coding? Highlight your motivation for professional growth
      and continuous learning. Emphasise your strong problem-solving skills and
      passion for coding.
    </p>
  </div>
  <div>
    <h3>I am</h3>
    <img src="" alt="" />
    <p>located in Munich</p>
  </div>
  <div>
    <img src="" alt="" />
    <img src="" alt="" />
    <p>open to relocate</p>
  </div>
  <div>
    <img src="" alt="" />
    <p>open to work remote</p>
    <img src="" alt="" /><img src="" alt="" />
  </div>
  <div><button></button></div>
</div>
