@import "../../mixin.scss";
@import "../../styles.scss";

:host {
  @include flex-center();
  width: 100%;
  height: 100%;
  margin-top: 5.875rem;
}
header {
  @include flex-center($ai: space-between, $jc: space-between);
  position: relative;
  max-width: $max-width;
  gap: $gap-100;
  width: 100%;
  height: 100%;
}

.hero-left {
  @include flex-center($fd: column, $jc: space-between, $ai: flex-start);
  width: 70%;

  > div {
    height: 50%;
  }

  > div:nth-child(1) {
    @include flex-center($jc: space-between);
    width: 100%;

    > div:nth-child(2) {
      height: 100%;
      @include flex-center($ai: flex-end);
      > .icon {
        width: 22px;
        height: 50px;
        padding: 10px;
        background-image: url("../../assets/img/arrow up .svg");
        background-repeat: no-repeat;
        background-position: center;
        transform: scaleY(-1);
        transition: all 125ms ease-out;
        &:hover {
          border: 1px solid $turquoise;
          background-image: url("../../assets/img/arrow-up-hover.svg");
        }
      }
    }
  }
  > div:nth-child(2) {
    @include flex-center($fd: column, $jc: flex-end, $ai: flex-start);
  }
}

button {
  color: $primary-red;
  font-family: $font-primary;
  font-weight: $medium;
  font-size: $f-s-18;
  border: 1px solid $turquoise;
  padding: 10px 15px;
  transform: rotate(-90deg);

  &:hover {
    color: $turquoise;
  }
}

.img-container {
  width:20rem;
  overflow: hidden; // Überschüssiger Inhalt wird verborgen

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // Bild füllt den Container vollständig aus
    object-position: top; // Bild wird oben ausgerichtet, sodass unten abgeschnitten wird
  }
}



h1,
h2 {
  color: $turquoise;
  font-family: $font-primary;
  font-weight: $medium;
  line-height: 1.2;
  white-space: nowrap;
}

h2 {
  font-size: $f-s-54;
}

h1 {
  font-size: $f-s-82;
}
