@import "../../../mixin.scss";
@import "../../../styles.scss";




#hero, #about, #skills, #projects, #testimonials {
    margin-bottom: 3.125rem;
}

h2{
    @include fonts();
    margin-bottom: 1.5rem;
    scroll-margin-top: 100px;
    
}


