@import "../../../mixin.scss";
@import "../../../styles.scss";

:host{
    box-sizing: border-box;
}


#hero, #about, #skills, #projects, #testimonials {
    margin-bottom: 3.125rem;
}

h2{
    @include fonts();
    margin-bottom: 1.5rem;
    scroll-margin-top: 6.25rem;
    
}

@media (max-width: 768px){
    h2{
      text-align: center !important;
    }
}    

