@import "../../../mixin.scss";
@import "../../../styles.scss";

:host{
    box-sizing: border-box;
}


#hero, #about, #skills, #projects, #testimonials {
    margin-bottom: 3.125rem;
}

.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.projects-section > h2,
.projects-section > app-projects {
    width: 100%;
    max-width: $max-width;
}

h2{
    @include fonts();
    margin-bottom: 1.5rem;
    scroll-margin-top: 6.25rem;
    
}

@media (max-width: 768px){
    h2{
      text-align: center !important;
    }
}    

