@import "../../../mixin.scss";
@import "../../../styles.scss";
* {
  transition: all 125ms ease-out;
}
:host {
  @include flex-center($fd: column, $ai: stretch);
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  box-sizing: border-box;
}

.header-contact {
  @include flex-center($jc: flex-start, $ai: flex-end);
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  > img {
    width: 5rem;
    margin-left: 1rem;
  }
  > h2 {
    @include fonts();
    scroll-margin-top: 6.25rem;
  }
}
.form-container {
  width: 100%;
  max-width: $max-width;
}
.contact-header {
  @include flex-center($jc: flex-start, $ai: flex-end);
  margin: 2rem 0;

  .arrow {
    margin-left: 2rem;
    > img {
      width: 5rem;
    }
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  position: relative;
  overflow-x: hidden;

  .form-left {
    @include flex-center($fd: column, $ai: flex-start, $jc: space-between);
    flex: 1 1;
    position: relative;
    width: 100%;

    p {
      @include fonts($fc: $turquoise, $fs: $f-s-18);
      padding-bottom: 1rem;
    }
  }

  .form-right {
    flex: 1 1;
    @include flex-center($fd: column, $ai: flex-start, $jc: space-between);
    margin-left: 1rem;
    > div:nth-child(1) {
      width: 100%;
      @include flex-center($jc: space-between);

      > div:nth-child(1) {
        @include flex-center($ai: flex-start, $fd: column, $jc: space-between);
        height: 100%;
      }
    }

    a {
      @include fonts($fc: $turquoise, $fs: $f-s-20);
      @include flex-center();

      .letter {
        margin-right: 0.5rem;
        width: 1.48rem;
        height: 1.25rem;
        background: url("../../../assets/img/letter.svg") center center /
          contain no-repeat;
      }

      .phone {
        margin-right: 0.5rem;
        width: 1.78rem;
        height: 1.45rem;
        background: url("../../../assets/img/phone.svg") center center / contain
          no-repeat;
      }

      &:hover {
        .letter {
          background: url("../../../assets/img/letter-hover.svg") center center /
            contain no-repeat;
        }
        .phone {
          background: url("../../../assets/img/phone-hover.svg") center center /
            contain no-repeat;
        }
      }
    }
  }

  textarea {
    width: 100%;
    height: 9rem;
    background: transparent;
    border: 2px solid $turquoise;
    padding: 0.5rem;
    resize: vertical;
    box-sizing: border-box;
    font-family: $font-primary;
    font-weight: $regular;
    font-size: $f-s-14;
    color: $turquoise;
    line-height: 140%;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px $turquoise;
    }
    &::placeholder {
      font-family: $font-primary;
      font-weight: $regular;
      font-size: $f-s-18;
      color: $turquoise;
      opacity: 60%;
      line-height: 140%;
    }
  }

  input[type="text"],
  input[type="email"] {
    height: 3.5rem;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: 2px solid $turquoise;
    padding: 0.5rem;
    font-family: $font-primary;
    font-weight: $regular;
    font-size: $f-s-14;
    color: $turquoise;
    line-height: 140%;

    &::placeholder {
      font-family: $font-primary;
      font-weight: $regular;
      font-size: $f-s-18;
      color: $turquoise;
      opacity: 60%;
      line-height: 140%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px $turquoise;
    }
  }

  .privacy {
    @include fonts($fc: $turquoise, $fs: $f-s-14);
    margin-top: 1rem;
    width: 100%;
    @include flex-center($jc: flex-start);

    input[type="checkbox"] {
      position: relative;
      margin-right: 8px;
      appearance: none;
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border: 2px solid $primary-red;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background: $turquoise;
      }

      &:checked {
        background: $turquoise;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0px;
          left: 3px;
          width: 3px;
          height: 6px;
          border: solid $primary-red;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }
  }

  button:disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
    pointer-events: none;
    opacity: 0.5;
  }

  .button-container {
    width: 100%;
    @include flex-center($jc: flex-end);
    > button {
      @include fonts($fs: $f-s-18);
      margin-top: 1.5rem;
      background: transparent;
      border: 2px solid $turquoise;
      color: $primary-red;
      padding: 0.6rem 1.2rem;
      cursor: pointer;
    }
  }
}

.icon {
  width: 1.375rem;
  height: 3.125rem;
  padding: 0.625rem;
  background-image: url("../../../assets/img/arrow up .svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;
  transform: rotate(0deg);
  transition: all 125ms ease-out;
  border: 0.0625rem solid transparent;

  &:hover {
    border-color: $turquoise;
    background-image: url("../../../assets/img/arrow-up-hover.svg");
    background-size: contain;
    background-origin: content-box;
  }
}

.mail-tel-mobile {
  @include flex-center();
  @include fonts($fc: $turquoise, $fs: $f-s-20);
  text-align: center;
  display: none;

  a {
    @include flex-center($fd: column);

    .letter {
      margin-right: 0.5rem;
      width: 1.48rem;
      height: 1.25rem;
      background: url("../../../assets/img/letter.svg") center center / contain
        no-repeat;
    }

    .phone {
      margin-right: 0.5rem;
      width: 1.78rem;
      height: 1.45rem;
      background: url("../../../assets/img/phone.svg") center center / contain
        no-repeat;
    }

    &:hover {
      .letter {
        background: url("../../../assets/img/letter-hover.svg") center center /
          contain no-repeat;
      }
      .phone {
        background: url("../../../assets/img/phone-hover.svg") center center /
          contain no-repeat;
      }
    }
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
  @include flex-center();
}
.marin-b {
  margin-bottom: 2rem;
}
.validation-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
}
.validation-icon-message {
  position: absolute;
  top: 10%;
  right: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
}

input.error::placeholder,
textarea.error::placeholder {
  font-weight: $regular !important;
  color: $error-red !important;
  opacity: 100% !important;
}
@media (max-width: 768px) {
  h1 {
    white-space: normal !important;
    text-align: center !important;
  }
  h2 {
    white-space: normal !important;
    text-align: center !important;
  }
}


.input-wrapper{
  margin-bottom: 2rem;
}
.contact-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.feedback {
  @include fonts($fs: $f-s-20);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;

  &--success {
    border: 1px solid $turquoise;
    color: $turquoise;
  }
  &--error {
    border: 1px solid $turquoise;
    color: #f92103;
  }
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 125ms ease-out, transform 125ms ease-out;
}
.fade-in-left.in-view {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right {
  overflow-x: hidden;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 125ms ease-out, transform 125ms ease-out;
}
.fade-in-right.in-view {
  opacity: 1;
  transform: translateX(0);
}

.header-contact {
  overflow: visible;

  .arrow-icon {
    display: inline-block;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 125ms ease-out, opacity 125ms ease-out;
  }

  &.in-view .arrow-icon {
    transform: translateX(0);
    opacity: 1;
  }
}
