<div class="header-contact" appScrollAnimation>
  <h2 id="contact" [innerHTML]="safeHeader"></h2>
  <img src="assets/img/arrow-down.svg" alt="Down arrow icon" class="arrow-icon" />
</div>

<div *ngIf="successMessage" class="feedback feedback--success">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="feedback feedback--error">
  {{ errorMessage }}
</div>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-left fade-in-left "appScrollAnimation>
    <p class="" [innerHTML]="safeContent"></p>

    <div class="input-wrapper marin-b">
      <input
        type="text"
        id="contactName"
        name="name"
        autocomplete="name"
        formControlName="name"
        [placeholder]="
          contactForm.get('name')?.touched && contactForm.get('name')?.invalid
            ? requiredText
            : namePlaceholder
        "
        [ngClass]="{
          error:
            contactForm.get('name')?.touched && contactForm.get('name')?.invalid
        }"
        (blur)="contactForm.get('name')?.markAsTouched()"
        style="padding-right: 3rem"
      />
      <img
        *ngIf="contactForm.get('name')?.touched"
        [src]="
          contactForm.get('name')?.valid
            ? 'assets/img/hook.svg'
            : 'assets/img/exclamation-mark.svg'
        "
        alt="Validation icon"
        class="validation-icon"
      />
    </div>

    <div class="input-wrapper">
      <input
        type="email"
        id="contactEmail"
        name="email"
        autocomplete="email"
        formControlName="email"
        [placeholder]="
          contactForm.get('email')?.touched && contactForm.get('email')?.invalid
            ? requiredText
            : emailPlaceholder
        "
        [ngClass]="{
          error:
            contactForm.get('email')?.touched &&
            contactForm.get('email')?.invalid
        }"
        (blur)="contactForm.get('email')?.markAsTouched()"
        style="padding-right: 3rem"
      />
      <img
        *ngIf="contactForm.get('email')?.touched"
        [src]="
          contactForm.get('email')?.valid
            ? 'assets/img/hook.svg'
            : 'assets/img/exclamation-mark.svg'
        "
        alt="Validation icon"
        class="validation-icon"
      />
    </div>
  </div>

  <div class="form-right fade-in-right"appScrollAnimation>
    <div class="mail-tel display-none">
      <div>
        <a href="mailto:felix.geiss93@gmail.com">
          <div class="letter"></div>
          <span>E-mail: felix.geiss93&#64;gmail.com</span>
        </a>
        <a href="tel:071139016947">
          <div class="phone"></div>
          <span>Tel: 071139016947</span>
        </a>
      </div>
      <div class="arrow-container">
        <a class="icon" href="#"></a>
      </div>
    </div>

    <div class="input-wrapper">
      <textarea
        id="contactMessage"
        name="message"
        autocomplete="off"
        formControlName="message"
        [placeholder]="
          contactForm.get('message')?.touched &&
          contactForm.get('message')?.invalid
            ? requiredText
            : messagePlaceholder
        "
        [ngClass]="{
          error:
            contactForm.get('message')?.touched &&
            contactForm.get('message')?.invalid
        }"
        (blur)="contactForm.get('message')?.markAsTouched()"
        style="padding-right: 3rem"
      ></textarea>
      <img
        *ngIf="contactForm.get('message')?.touched"
        [src]="
          contactForm.get('message')?.valid
            ? 'assets/img/hook.svg'
            : 'assets/img/exclamation-mark.svg'
        "
        alt="Validation icon"
        class="validation-icon-message"
      />
    </div>
  </div>

  
  <label class="privacy">
    <input
      type="checkbox"
      id="privacyConsent"
      name="privacyConsent"
      [checked]="isChecked"
      (change)="isCheckt($event)"
    />
    <span class="privacyContent" [innerHTML]="safeAgree"></span>
  </label>

  <div class="button-container">
    <button type="submit" [disabled]="!isChecked || contactForm.invalid">
      {{ buttonText }}
    </button>
  </div>

  <div>
    <div class="arrow-container show">
      <a class="icon show" href="#"></a>
    </div>
  </div>
  <div class="mail-tel-mobile show">
    <div>
      <div>
        <a href="mailto:felix.geiss93@gmail.com">
          <div class="letter"></div>
          <span>E-mail: felix.geiss93&#64;gmail.com</span>
        </a>
      </div>
      <div>
        <a href="tel:071139016947">
          <div class="phone"></div>
          <span>Tel: 071139016947</span>
        </a>
      </div>
    </div>
  </div>
</form>
