<div>
  <h2>Contact me</h2>
  <img src="" alt="" />
</div>
<form action="">
  <div class="form-left">
    <p>
      Encourage people to contact you and describe what role you are interested
      in. Express interest in contributing to a new project.
    </p>
    <input type="text" />
    <input type="text" />
  </div>
  <div class="form-right">
    <a href=""
      ><img src="" alt="" /><span>E-mail: mustermail&#64;gmail.com</span></a
    >
    <a href=""><img src="" alt="" /><span>Tel: 0157 123 456 68</span></a>
    <input type="text" />
  </div>
  <label>
    <input type="checkbox" />
    I've read the <a href="">privacy policy</a> and agree to the processing of
    my data as outlined.
  </label>
  <button></button>
</form>
