<h2>My Skills</h2>

<div>
  <img src="" alt="" />
  <h6>Angular</h6>
</div>
<div>
  <img src="" alt="" />
  <h6>TypeScript</h6>
</div>
<div>
  <img src="" alt="" />
  <h6>JavaScript</h6>
</div>
<div>
  <img src="" alt="" />
  <h6>HTML</h6>
</div>
<div>
  <img src="" alt="" />
  <h6>CSS</h6>
</div>
<div>
  <img src="" alt="" />
  <h6>CSS</h6>
</div>
<div>
  <img src="" alt="" />
  <h6>Firebase</h6>
</div>
<div>
  <img src="" alt="" />
  <h6>GIT</h6>
</div>
<div>
  <img src="" alt="" />
  <h6>Scrum</h6>
</div>
<div>
  <img src="" alt="" />
  <h6>Material design</h6>
</div>
<div>
  <img src="" alt="" />
  <h6>Challenge</h6>
</div>
