<header>
  <div class="hero-left">
    <div>
      <a href="#contact" [innerHTML]="safeContactME"></a>

      <div class="arrow-container">
        <a class="icon" href="#about"></a>
      </div>
    </div>
    <div class="hero-text">
      <h2 class="margin-R margin-L">FRONTEND DEVELOPER</h2>
      <h1 class="margin-R margin-L">Felix Geiss</h1>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/img/b-img1.png" alt="Illustration of frontend development" />
  </div>
</header>
