@import "../../../mixin.scss";
@import "../../../styles.scss";

:host {
  @include flex-center();
  position: fixed;
  width: 100%;
  z-index: 100;
  background: linear-gradient(
    to bottom,
    #120b35 0%,
    #120b35 60%,
    rgba(18, 11, 53, 0) 124%
  );

  top: 0;
}

nav {
  @include flex-center($jc: space-between);
  @include fonts($fs: $f-s-22);
  max-width: $max-width;
  width: 100%;
  margin: $gap-24 $gap-105;
  white-space: nowrap;

  > ul {
    @include flex-center($gp: $gap-48);
    > li:first-child {
      @include fonts($fs: $f-s-48, $ff: $font-logo, $fw: $bold);
    }

    > li:not(:first-child) {
      &:hover {
        color: $turquoise;
      }
    }
  }
}

span {
  @include flex-center();
  @include fonts($fs: $f-s-22);
  p {
    margin: 0;
    &:hover {
      color: $turquoise;
      cursor: pointer;
    }
  }
}

.burger-menu {
  display: none;
  position: relative;
}

.burger-menu button {
  @include flex-center($fd:column, $jc:space-around);
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 100;
}

.burger-menu button span {
  display: block;
  width: 100%;
  height: 4px;
  background: $primary-red;
  border-radius: 2px;
  transition: all 125ms ease-out;
}

.burger-menu.open button span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu.open button span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open button span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.burger-menu ul {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  max-width: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #0b042d;
  background: linear-gradient(
    179deg,
    rgba(11, 4, 45, 1) 0%,
    rgba(40, 22, 128, 1) 100%
  );
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  @include flex-center($fd: column, $jc: flex-end);
  height: 280px;
}

.burger-menu ul li {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu ul li a {
  text-decoration: none;
  @include fonts($fs: $f-s-22);
  display: block;
}

.burger-menu ul li a:hover {
  text-decoration: underline;
  background-color: transparent;
}
.logo-mobile {
  @include fonts($fs: $f-s-48, $ff: $font-logo, $fw: $bold);
  display: none;
}
