
@import "../../../mixin.scss";
@import "../../../styles.scss";

:host {
  @include flex-center();
  position: fixed;
  width: 100%;
  z-index: 100;
  background: linear-gradient(
    to bottom,
    #120b35 0%,
    #120b35 60%,
    rgba(18, 11, 53, 0) 124%
  
  );

  top: 0;
}

nav {
  @include flex-center($jc: space-between);
  @include fonts($fs:$f-s-22);
  max-width: $max-width;
  width: 100%;
  margin: $gap-24 $gap-105;
  white-space: nowrap;
 

  > ul {
    @include flex-center($gp: $gap-48);
    > li:first-child {
      @include fonts($fs:$f-s-48,$ff:$font-logo,$fw:$bold);
    }

    > li:not(:first-child) {
      &:hover {
        color: $turquoise;
      }
    }
  }
    
}

span{
    @include flex-center();
    @include fonts($fs:$f-s-22);
    p {
        margin: 0;
        &:hover {
          color: $turquoise;
        }
      }
}
