@import "../../mixin.scss";
@import "../../styles.scss";

:host {
  @include flex-center($jc: flex-start);
  width: 100%;
  height: calc(100vh - 12.25rem - 4.412125rem);
  max-width: $max-width;
  margin-top: 4.412125rem
}

.imprintContainer {
 
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}
.backIcon {
  width: 50px;
}
.headerImprint {
  color: #333;
}
.imprint {

  padding: 20px;
  border-radius: 8px;
}
