<div class="main-container">
  <div class="abot-left">
    <div class="img-container fade-in-left" appScrollAnimation>
      <img src="assets/img/b-img2.png" alt="" />
    </div>
  </div>
  <div class="about-right">
    <div>
      <h2 id="about" [innerHTML]="safe.whyMeTitle"></h2>
      <p [innerHTML]="safe.whyMeText" class=""></p>
    </div>
    <div class="icon-container">
      <div>
        <div class="maobile-arrow-curve-left display-flex">
          <img src="assets/img/arrow-curve-left .svg" alt="arrow curve left icon ">
        </div>
        <h3 [innerHTML]="safe.iAm"></h3>
        <div class="locaishen-container display-flex fade-in-right"appScrollAnimation>
          <div>
            <img src="assets/img/locaishen-sign .svg" alt="locaishen icon" />
            <div class="elipse"></div>
          </div>
          <p [innerHTML]="safe.located">
          </p>
        </div>
      </div>
      <div>
        <div class="suitcase-container display-flex fade-in-left " appScrollAnimation>
          <img
            class="arrow-curve-left"
            src="assets/img/arrow-curve-left .svg"
            alt=""
          />
          <img src="assets/img/suitcase .svg" alt="suitcase icon" />
          <p [innerHTML]="safe.openRelocate">
          </p>
        </div>
      </div>

      <div>
        <div class="laptop display-flex fade-in-right"appScrollAnimation>
          <img src="assets/img/remote-signal.svg" alt="remote signal icon" />
          <img
            class="signal"
            src="assets/img/remote-signal-strong.svg"
            alt=""
          />
          <p [innerHTML]="safe.openRemote">
          </p>
          <img
            class="arrow-curve-right display-none"
            src="assets/img/arrow-curve-right.svg"
            alt="arrow curve right icon"
          />
        </div>

        <img class="arrow-curly display-none " src="assets/img/arrow-curly.svg" alt="arrow curly icon" /><img
          src=""
          alt=""
        />
      </div>
    </div>
    <div class="maobile-arrow-curve-right">
      <img src="assets/img/arrow-curve-right.svg" alt="arrow icon">
    </div>
    <div><a href="#contact" [innerHTML]="safe.letsTalk"></a></div>
  </div>
</div>

