@import "../../../mixin.scss";
@import "../../../styles.scss";

:host {
  @include flex-center($ai: normal);
  width: 100%;
  margin-bottom: 10rem;
  box-sizing: border-box;
}

.main-container {
  @include flex-center($jc: space-between, $ai: center);
  width: 100%;
  max-width: $max-width;
  height: 100%;
}
.about-right {
  @include flex-center($fd: column, $ai: flex-end, $jc: space-between);
  width: 55%;
  height: 100%;

  > div:nth-child(1) {
    margin-bottom: 1.5rem;
  }
  > div:nth-child(2) {
    > div {
      margin-bottom: 1rem;
    }
  }

  h2 {
    @include fonts();
    text-align: right;
    margin-bottom: $gap-24;
    scroll-margin-top: 6.25rem;
  }

  h3 {
    @include fonts($fw: $bold);
    position: absolute;
    left: 0;
  }

  p {
    @include fonts($fc: $turquoise, $fs: $f-s-18);
    text-align: right;
  }
  a {
    @include fonts($fs: $f-s-18, $fc: $backround-blue);
    display: inline-block;
    padding: 0.9375rem 1.875rem;
    background-color: $turquoise;
    transition: all 125ms ease-out;
  }

  a:hover {
    color: $primary-red;
  }
}

.icon-container {
  width: 85%;
  position: relative;

  > div {
    @include flex-center();
    width: 100%;
  }

  .locaishen-container {
    width: 10.4765625rem;
    position: relative;
    p {
      margin-left: 1rem;
      text-align: left;
    }
    img:nth-child(1) {
      width: 2rem;
    }
    > div {
      @include flex-center($fd: column);
      height: 3rem;
    }
    .elipse {
      @include flex-center();
      background-image: url("../../../assets/img/locaishen-ellipse.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 1.1875rem;
      height: 0.5rem;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 125ms ease-out, visibility 0s linear 125ms;
    }

    &:hover .elipse {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition-delay: 0s;
    }
  }

  .suitcase-container {
    margin-left: 21.476563rem;
    position: relative;
    p {
      text-align: left;
    }
    img:nth-child(2) {
      transition: transform 0.3s ease;
      width: 2rem;
      margin-right: 1rem;
    }
    &:hover img:nth-child(2) {
      transform: rotate(6deg);
    }
    .arrow-curve-left {
      position: absolute;
      left: -13rem;
      top: 0;
      width: 1.875rem;
      height: 3.5rem;
    }
  }

  .laptop {
    position: relative;
    p {
      text-align: left;
    }

    > img:nth-child(1) {
      width: 3.34875rem;
      margin-right: 1rem;
    }

    > img:nth-child(2) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 125ms ease-out, visibility 0s linear 125ms;
    }

    &:hover > img:nth-child(2) {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition-delay: 0s;
    }

    .signal {
      position: absolute;
      right: 87%;
      top: 1%;
      width: 1.5625rem;
    }
  }

  .arrow-curve-right {
    position: absolute;
    right: -3.125rem;
    width: 1.875rem;
  }
}
.arrow-curly {
  height: 3.75rem;
  position: absolute;
  right: 0;
  width: 1.875rem;
}

.abot-left {
  overflow-x: hidden;
  .img-container {
    width: 31rem;
    height: 31rem;
    min-width: 157.41px;
    > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.display-flex {
  @include flex-center();
}

.maobile-arrow-curve-left,
.maobile-arrow-curve-right {
  display: none;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 125ms ease-out, transform 125ms ease-out;
}
.fade-in-left.in-view {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 125ms ease-out, transform 125ms ease-out;
}
.fade-in-right.in-view {
  opacity: 1;
  transform: translateX(0);
}


@media (max-width: 768px) {
  h1 {
    white-space: normal !important;
    text-align: center !important;
  }
  h2 {
    white-space: normal !important;
    text-align: center !important;
  }
  h3 {
    margin-bottom: 20px;
    font-size: 2.375rem !important;
  }
}

@media (max-width: 900px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .about-right {
    align-items: center;
    width: 90%;
  }

  .icon-container {
    width: 100%;
  }

  .suitcase-container {
    margin-left: 0;
  }

  .arrow-curve-left,
  .arrow-curve-right,
  .arrow-curly {
    display: none;
  }

  .maobile-arrow-curve-left,
  .maobile-arrow-curve-right {
    display: flex;
  }
}
