html {
  font-size: 16px;
  scroll-behavior: smooth;
  width: 100%;
}

// color

$backround-blue: #120b35;
$primary-red: #e15544;
$error-red: #f92103;
$turquoise: #02f4bf;

// Fonts
$font-logo: "handjet", Arial, Helvetica, sans-serif;
$font-primary: "RobotoMono", Arial, Helvetica, sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

$l-height: 120%;

@font-face {
  font-family: "handjet";
  src: url("/assets/fonts/Handjet-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "handjet";
  src: url("assets/fonts/Handjet-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoMono";
  src: url("assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("assets/fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("assets/fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

//   Layout-Variablen

$gap-170: 10.625rem;
$gap-105: 6.56rem;
$gap-100: 6.25rem;
$gap-64: 4rem;
$gap-40: 2.5rem;
$gap-48: 3rem;
$gap-32: 2rem;
$gap-24: 1.5rem;
$gap-16: 1rem;
$gap-10: 0.625rem;

$gap-8: 0.5rem;
$gap-2: 0.125rem;

$img-w-490: 30.625rem;
$img-w-82: 5.375rem;
$img-w-32: 2rem;
$img-w-30: 1.875rem;
$img-w-35: 2.1875rem;
$img-w-54: 3.375rem;
$img-w-27: 1.6875rem;
$img-w-19: 1.1875rem;
$img-w-22: 1.375rem;

$img-h-70: 4.375rem;
$img-h-50: 3.125rem;
$img-h-8: 0.5rem;
$img-h-60: 3.75rem;

// font Size
$f-s-82: 5.125rem;
$f-s-54: 3.375rem;
$f-s-48: 3rem;
$f-s-24: 1.5rem;
$f-s-22: 1.375rem;
$f-s-20: 1.25rem;
$f-s-18: 1.125rem;
$f-s-14: 0.875rem;
$f-s-12: 0.75rem;

$max-width: 1440px;
$max-width-729: 45.5625rem;
$max-width-568: 35.5rem;
$max-width-490: 30.625rem;

$align-center: center;
$align-stretch: stretch;
$grow-1: 1;
$nowrap: nowrap;

body {
  margin: 0;
  box-sizing: border-box;
  color: white;
  background-color: $backround-blue;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 $gap-105;
  > h2 {
    font-family: $font-primary;
    font-size: $f-s-54;
    font-weight: $medium;
    color: $primary-red;
    text-align: center;
    max-width: $max-width;
    width: 100%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 $gap-105;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 14px;
  }
  main {
    margin: 0;
  }
  h1 {
    white-space: normal !important;
    text-align: center !important;
  }
  h2 {
    white-space: normal !important;
    text-align: center !important;
  }

  header {
    flex-direction: column-reverse !important;
    align-items: center !important;
    .icon {
      display: none !important;
    }
    a {
      display: none !important;
    }

    .hero-left {
      width: fit-content;
    }
  }
  .main-container {
    align-items: center !important;
    flex-direction: column !important;
    .img-container {
      display: none !important;
    }

    h4 {
      display: none;
    }
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    width: 100% !important;


    > div:nth-child(1) {
      flex-direction: column;
    }

    h3 {
      position: relative !important;
    }
  }
  .about-right {
    align-items: center !important;
    width: 100% !important;
    > div:nth-child(1) {
      p {
        text-align: center;
      }
    }
    h2 {
      text-align: center !important;
    }
  }
  .arrow-curly {
    display: none;
  }
  .arrow-curve-left {
    display: none;
  }

  .arrow-curve-right {
    display: none;
  }
  .suitcase-container {
    margin-left: 0 !important;
  }

  .maobile-arrow-curve-left{
    width: 100%;
    justify-content: flex-start!important;
  }
  .maobile-arrow-curve-right{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    >img{
      transform: scaleY(-1);
    }
  }

  .project-container {
    flex-direction: column !important;
    align-items: center !important;
  }

  .text-container {
    width: 100% !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    h5 {
      text-align: center;
    }
  }

  .text-container-main {
    // overflow-x: auto;
    display: none !important;
  }

  .header-contact {
    justify-content: center !important;
    img {
      display: none;
    }
  }
  form {
    flex-direction: column !important;
    width: 100%;
  }
  .form-right {
    margin: 0 !important;
    flex-direction: column-reverse !important;

  }
  .form-left{
    p{
      text-align: center;
    }
  }
  .button-container {
    justify-content: center !important;
  }
  .image-container {
    width: 100% !important;
  }
  app-footer {
    flex-direction: column-reverse;
  }
  app-nav{
    justify-content: flex-end !important;
  }
  .mail-tel{
    display: none !important;
  }
  .show{
    display: flex !important;
  }
  .display-none{
    display: none!important;
  }
  .middle-container{
    display: none !important;
  }
  .maobile-arrow-curve-left,.maobile-arrow-curve-right{
    display: flex !important;
  }
}
