
html {
  font-size: 16px;
}



// color

$backround-blue: #120b35;
$primary-red: #e15544;
$error-red: #f92103;
$turquoise: #02f4bf;

// Fonts
$font-logo: "handjet", Arial, Helvetica, sans-serif;
$font-primary: "RobotoMono", Arial, Helvetica, sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

@font-face {
  font-family: "handjet";
  src: url("/assets/fonts/Handjet-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "handjet";
  src: url("assets/fonts/Handjet-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoMono";
  src: url("assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("assets/fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("assets/fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}




//   Layout-Variablen
$gap-100: 100px;
$gap-40: 40px;
$gap-48: 48px;
$gap-32: 32px;
$gap-10: 10px;
$gap-10: 16px;
$gap-8: 8px;
$gap-2: 2px;

// font Size
$f-s-82: 5.125rem;
$f-s-54: 3.375rem;
$f-s-48: 3rem;
$f-s-22: 1.375rem;
$f-s-18: 1.125rem;



$breakpoint-lg: 992px;

$max-width: 1920px;
$align-center: center;
$align-stretch: stretch;
$grow-1: 1;
$nowrap: nowrap;

$flex-row-center: (
  display: flex,
  flex-direction: row,
  justify-content: center,
  align-items: center,
);

$flex-column-center: (
  display: flex,
  flex-direction: column,
  justify-content: center,
  align-items: center,
);

$flex-between: (
  display: flex,
  justify-content: space-between,
  align-items: center,
);

body {
  margin: 0;
  box-sizing: border-box;
  color: white;
  background-color: $backround-blue;
  width: 100%;
  height: 100%;
}


a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  -webkit-appearance: none; 
  -moz-appearance: none;   
  appearance: none;
}

h1,h2,h3,h4{
  margin: 0;
}



@media (max-width: 992px) {

}
