<div class="middle-container-mobile show">
  <div>
    <a href="legal-notice">Legal Notice <br></a>
    <a href="privacy-policy">Privacy Policy</a>
  </div>
</div>

<div class="logo">
  <a href="" target="_blank" rel="noopener noreferrer">&lt;FG&gt;</a>
  <p>Frontend developer</p>
</div>

<div class="middle-container">
  <span>Felix Geiss 2025</span>
  <div>
    <a href="legal-notice" [innerHTML]="safeLegalNotice"></a>
    <a href="privacy-policy" [innerHTML]="safePrivacyPolicy"></a>
  </div>
</div>


  <div class="icon-container-footer">
    <a
      href="https://github.com/FelixGeiss"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="git-hup"></div>
    </a>
    <a href="mailto:felix.geiss93@gmail.com" target="_blank" rel="noopener noreferrer">
      <div class="email"></div>
    </a>
    <a
      href="https://www.linkedin.com/in/felix-geiss-3a2b46270/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="linkedin"></div>
    </a>
  </div>
  

